body {
    text-align: center;
    margin: 0px;
}

#intro {
    overflow: hidden;
    color: white;
    opacity: 0.83;
    height: 400px;
    background: linear-gradient(pink, #FFE6EE, pink);
    display: table;
    height: 100%;
    width: 100%;
}

img {
    height: 200px;
    padding: 0px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}
.line{
    height: 8px;
    background-color:pink;
    width: 80px;
    margin: 8px auto;
}
.info{
    padding-right: 300px;
    padding-left: 300px;
}